{% extends 'base1.html' %}
{% block title %}猿头条{% endblock %}
{% block content %}
    <div class="container">
        {% if messages %}
        {% for message in messages %}
            <div class='alert alert-{{ message.tags }} alert-dismissible' role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"  aria-hidden="true">
                    &times;
                </button>
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        <div class="content" align="center">
            <form action="/news_edit/news_id={{ news.news_id }}" method="post" class="form-inline" style="text-align:center" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.title.errors }}
                    <label for="{{ form.title.id_for_label }}">标题：</label>
                    {{ form.title }}
			    </div><br><br>
			    <div class="form-group">
                    {{ form.content.errors }}
                    <label for="{{ form.content.id_for_label }}">内容：</label>
                    {{ form.content }}
			    </div><br><br>
                <div class="form-group">
                    {{ form.category.errors }}
                    <label for="{{ form.category.id_for_label }}">类别：</label>
                    {{ form.category }}
			    </div><br><br>
                <div class="form-group">
                    {{ form.attachment.errors }}
                    <label for="{{ form.attachment.id_for_label }}">封面图片：</label>
                    {{ form.attachment }}
			    </div><br><br>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="修改发布">&nbsp;&nbsp;
                    <input class="btn btn-default" type="reset" value="重置">
                </div>
                <br><br><br>
            </form>
        </div>
    </div>
{% endblock %}