<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>瀑布流</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            border: 0;
        }

        img {
            width: 200px;
            display: block;
            position: absolute;
            transition: 0.5s;
        }
    </style>
    <script src="../static/js/myAjax.js"></script>
</head>
<body>
<img src="../spider/id=15/云备份vs.云存储vs.文件同步和共享：有什么区别.jpg">
<img src="../spider/id=15/云ERP的核心价值是“通”还是“联”？.jpg">
<img src="../static/images/ico.jpg">
<img src="../static/images/logo1.png">
<img src="../spider/id=15/云之战：亚马逊谷歌微软BAT都杀进来了，胜者是谁？.jpg">
<img src="../static/images/person2.jpg">
<img src="../spider/id=15/云备份vs.云存储vs.文件同步和共享：有什么区别.jpg">
</body>
{#<script type="text/javascript">#}
{#    //页面一加载就调用 layout 对页面布局#}
{#    window.onload = layout;#}
{#    //窗口改变也调用函数#}
{#    window.onresize = function () {#}
{#        layout();#}
{#    }#}
{##}
{#    //这个函数用来布局页面中的 img 排列方式#}
{#    function layout() {#}
{#        //获取所有的 img 标签#}
{#        var allImg = document.getElementsByTagName('img');#}
{#        //窗口视图的宽度#}
{#        var windowWidth = document.documentElement.clientWidth;#}
{#        //一行能容纳多少个容器，并向下取整#}
{#        var n = Math.floor(windowWidth / 220);#}
{#        //如果页面没有标签，则直接返回，不用布局#}
{#        if (n <= 0) {#}
{#            return#}
{#        }#}
{#        ;#}
{#        //计算页面两端有多少空白，用于居中#}
{#        var content = (windowWidth - n * 220) / 2;#}
{#        //定义一个数组存放 img 的高度#}
{#        var arrH = [];#}
{#        for (var i = 0; i < allImg.length; i++) {#}
{#            //用来计算是第几个img，用于给数组做索引，#}
{#            //保证数组长度始终是等于每行的个数n#}
{#            var j = i % n;#}
{#            //一行排满 n 个后到下一行，#}
{#            //下一行开始，从高度最低的开始排#}
{#            if (arrH.length = n) {#}
{#                //从高度最低的开始排#}
{#                var main = getMin(arrH);#}
{#                //左右定位，并给一个20px的间距#}
{#                allImg[i].style.left = center + min * 220 + 'px';#}
{#                //上下定位，并给一个 20px 的间距#}
{#                allImg[i].style.top = arrH[min] + 20 + 'px';#}
{#                // 把高度最低的 img 的高度放进数字，并给一个20px的间距#}
{#                arrH[min] = allImg[i].offsetHeight + 20#}
{#            }else {#}
{#                //这个是用来排列第一行的#}
{#                //把img的高度放进数组#}
{#                arrH[j]=allImg[i].offsetHeight;#}
{#                //左右定位，居中空白#}
{#                allImg[i].style.left=center+220*j+'px';#}
{#                allImg[i].style.top=0;    //上下定位0#}
{#            }#}
{##}
{#        }#}
{#    }#}
{#</script>#}
</html>